<% if(error && error.length){ %> 
    <div class="d-inline-flex col-md-6 offset-md-3 alert alert-danger alert-dismissable fase show" role="alert">
        <%= error %> 
        <button type="button" class="btn-close d-flex justify-content-end" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %> 