<% layout('/layouts/boilerplate') %>

<div class="row">
    <div class="col-6">
        <div id="artCarousel" class="h-100 carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block h-100 w-100" src="https://i.etsystatic.com/17593716/r/il/050d6b/1913518092/il_570xN.1913518092_o4uf.jpg" alt="">
                </div>
                <div class="carousel-item">
                    <img class="d-block h-100 w-100" src="https://static.comicvine.com/uploads/original/11120/111203604/4767755-7286726795-darth.jpg" alt="">
                </div>
            </div>        
            <button class="carousel-control-prev" type="button" data-bs-target="#artCarousel"  data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#artCarousel"  data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>  
        </div>    
    </div>
</div>

<!-- <div class="container p-0 h-50 w-50 border border-3 border-warning">
    <div id="artCarousel" class="h-100 carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="h-100 carousel-inner">
            <div class="carousel-item active">
                <img class="d-block h-100 w-100" src="https://i.etsystatic.com/17593716/r/il/050d6b/1913518092/il_570xN.1913518092_o4uf.jpg" alt="">
            </div>
            <div class="carousel-item">
                <img class="d-block h-100 w-100" src="https://static.comicvine.com/uploads/original/11120/111203604/4767755-7286726795-darth.jpg" alt="">
            </div>
        </div>        
        <button class="carousel-control-prev" type="button" data-bs-target="#artCarousel"  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#artCarousel"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>  
    </div>
</div> -->


